<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python-Section1/blob/main/23_01_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **How to print any thing in python**

## print()

In [ ]:
print("Arjun")

Arjun

In [ ]:
print(7, 3.14, "Arjun", True, 4+5j)

7 3.14 Arjun True (4+5j)

In [ ]:
print(7, 3.14, "Arjun", True, 4+5j, sep="@")

7@3.14@Arjun@True@(4+5j)

In [ ]:
print(7, 3.14, "Arjun", True, 4+5j, sep=" @#$ ")

7 @#$ 3.14 @#$ Arjun @#$ True @#$ (4+5j)

In [ ]:
print("Arjun")
print("Gangwar")

Arjun
Gangwar

In [ ]:
print("Arjun", end=" @ ")
print("Gangwar")
print("hello")

Arjun @ Gangwar
hello

In [1]:
a=5
b=4.0
c="Arjun"
d="Today is first class of Python programing language"
e=True

print(a,b,c,d,e)

5 4.0 Arjun Today is first class of Python programing language True

In [2]:
print(f"valueof {a},{b},{c},{d},*&^%$#@! {e}")

valueof 5,4.0,Arjun,Today is first class of Python programing language,*&^%$#@! True

# **Data types in python**
## Basic Data types

### int

In [ ]:
a= 7
b= 8
print(a)
print(b)

7
8

In [ ]:
a,b = 4, 5
print(a)
print(b)
print(a, b)

4
5
4 5

In [ ]:
a=b=c= 5
print(a, b, c)

5 5 5

### float

In [ ]:
print(3.14)

3.14

In [ ]:
a= 3.14
print(a)
type(a)

3.14

float

### Complex

In [ ]:
comp1= 4+5j
print(comp1)
print(type(comp1))

(4+5j)
<class 'complex'>

### Boolean

In [ ]:
a = True
b = False
print(a ,b)

True False

### string

In [ ]:
print("Arjun Gangwar")
type("Arjun Gangwar")

Arjun Gangwar

str

In [ ]:
name = "Arjun Gangwar"
print(name)
type(name)

Arjun Gangwar

str

# **Container type Data type**
### List []
### Tuple ()
### set {}
### Dictionary {key:value}

## List

In [ ]:
list1= [1 ,2,3,"Arjun", True ,False, 4+5j ]
print(list1)
type(list1)

[1, 2, 3, 'Arjun', True, False, (4+5j)]

list

In [ ]:
list2= [1,2,3,5,6]
list2

[1, 2, 3, 5, 6]

## tuple

In [ ]:
tup1=(1,2,3,4)
print(tup1)
type(tup1)

(1, 2, 3, 4)

tuple

In [ ]:
tup2= (1 ,2,3,"Arjun", True ,False, 4+5j )
print(tup2)
type(tup2)

(1, 2, 3, 'Arjun', True, False, (4+5j))

tuple

## set

In [ ]:
Set1= {"a", "b", "c", 1,2, 3, 4}
print(Set1)
type(Set1)

{'c', 1, 2, 3, 4, 'a', 'b'}

set

## Dictionary

In [ ]:
dict1= {"name": "Arjun", "movie": "Abc", "Age": 28}
print(dict1)
print(type(dict1))

{'name': 'Arjun', 'movie': 'Abc', 'Age': 28}
<class 'dict'>

# Operators in Python

- **Arithmetic**: `+`, `-`, `*`, `/`, `%`, `**`, `//`
- **Comparison**: `==`, `!=`, `>`, `<`, `>=`, `<=`
- **Logical**: `and`, `or`, `not`
- **Bitwise**: `&`, `|`, `^`, `~`, `<<`, `>>`
- **Assignment**: `=`, `+=`, `-=`, `*=`, `/=`, `%=`, `**=`, `//=`
- **Identity**: `is`, `is not`
- **Membership**: `in`, `not in`

# **How to take input in python**
## By using the Function
### input()
#### By default it return the string data type

In [ ]:
input("Enter your name : ")

Enter your name : Arjun

'Arjun'

In [ ]:
name=input("Enter your name : ")
Age= input("Please enter your age : ")
print(name, Age)

Enter your name : Arjun
Please enter your age : 28
Arjun  28

In [ ]:
name=input("Enter your name : ")
Age= input("Please enter your age : ")
print("name", "Age")
print(name, Age)
print("Name", name ,"Age" ,Age)

Enter your name : Arjun
Please enter your age : 28
name Age
Arjun 28
Name Arjun Age 28

## **Note: for writing the comments we will use "#"**

## **Take the two number input from the user and return the their sum**

In [ ]:
# first we will take input from the user
num1= input(" Enter the first number : ")
num2= input(" Enter the second number : ")
# we will do their sum
total= num1+num2
# return their value
print("the sum of the given number : ", total)

 Enter the first number : 2
 Enter the second number : 12
the sum of the given number :  212

In [ ]:
# first we will take input from the user
num1= int(input(" Enter the first number : "))
num2= int(input(" Enter the second number : "))
# we will do their sum
total= num1+num2
# return their value
print("the sum of the given two numbers : ", total)

 Enter the first number : 2
 Enter the second number : 4
the sum of the given two numbers :  6

# **Take the name and Age as input from the user and print the name and Age in the same Row**

# **First take two numbers as input form the user and find out sqt of first one and square of send one and print the sqt of total:**

## **Type conversion function**

- int()
- float()
- str()
- list()
- dict()