<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python-Section1/blob/main/25_02_2026_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary

- **Key-Value Pairs**: Data mapping.
- **Aliases**: Map, associative array.

```python
dict = { 'name': 'Arjun', 'age': 28, 'gender': 'male' }
```

## Traits:
- *Mutable*
- *No indexing*
- *Unique keys*
- *Immutable keys*

In [ ]:
{"Name":"Saurabh", "Gender":"Male"}
type({"Name":"Saurabh", "Gender":"Male"})

dict

In [ ]:
Dict1={"Name":"Saurabh", "Gender":"Male"}
print(Dict1,type(Dict1))

{'Name': 'Saurabh', 'Gender': 'Male'} <class 'dict'>

## 4 Key Rules About Dictionaries

1. **No Indexing**: No index support.
2. **Mutable**: Can modify post-creation.
3. **Keys**: Immutable (str, num, tuple); **Values**: Any type.
4. **Unique Keys**: Keys must be unique; overwrite on reassignment.

In [ ]:
# Mutable Types   ---> Lists, Sets, Dicts

# Immutable Types ---> Str, Tuples, Int, Float, Bool, Complex

1. Create
2. Access
3. Edit
4. Add
5. Delete
6. Operations
7. Functions

### 1. Create

In [ ]:
# empty dictionary
D = {}
D,type(D),len(D)

({}, dict, 0)

In [ ]:
# 1D dictionary
D = {"Name":"Saurabh", "Gender":"Male"}
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [ ]:
D.keys()

dict_keys(['Name', 'Gender'])

In [ ]:
D.values()

dict_values(['Saurabh', 'Male'])

In [ ]:
D.items()

dict_items([('Name', 'Saurabh'), ('Gender', 'Male')])

In [ ]:
D1 = {[1, 2, 3]:"Saurabh"}

TypeError: unhashable type: 'list'

In [ ]:
# with mixed keys
D1 = {(1, 2, 3):"Saurabh"}
D1

{(1, 2, 3): 'Saurabh'}

In [ ]:
D1.keys()

dict_keys([(1, 2, 3)])

In [ ]:
D1.values()

dict_values(['Saurabh'])

In [ ]:
# duplicate keys
D2 = {"Name":"Arjun","Name":"Natty","Name":[1,23,5,4]}
D2

{'Name': [1, 23, 5, 4]}

In [ ]:
# duplicate keys
D2 = {"Name":"Arjun","Name":[1,23,5,4],"Name":"Natty"}
D2

{'Name': 'Natty'}

### **Access the item from the dictionary**

In [ ]:
D3 = {"Name":"Arjun", "College":"SAI", "Marks":{"M1":99, "DS":97, "Eng":98}}
D3

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 98}}

In [ ]:
D3.keys()

dict_keys(['Name', 'College', 'Marks'])

In [ ]:
D3.values()

dict_values(['Arjun', 'SAI', {'M1': 99, 'DS': 97, 'Eng': 98}])

In [ ]:
D3.items()

dict_items([('Name', 'Arjun'), ('College', 'SAI'), ('Marks', {'M1': 99, 'DS': 97, 'Eng': 98})])

In [ ]:
for i in D3.items():
    print(i)

('Name', 'Arjun')
('College', 'SAI')
('Marks', {'M1': 99, 'DS': 97, 'Eng': 98})

In [ ]:
for i,j in D3.items():
    print(i,j)

Name Arjun
College SAI
Marks {'M1': 99, 'DS': 97, 'Eng': 98}

In [ ]:
for key,value in D3.items():
    print(key,value)

Name Arjun
College SAI
Marks {'M1': 99, 'DS': 97, 'Eng': 98}

### **2D dictionary ---> JSON**

In [ ]:
# 2D dictionary ---> JSON
dict2D = {'name':'Arjun','college':'MIT','sem':4,
          'subjects':{'dsa':50,'maths':67,'english':34}}
dict2D

{'name': 'Arjun',
 'college': 'MIT',
 'sem': 4,
 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}

In [2]:
Dict1={}
Dict1

{}

In [5]:
Dict1["A"]=1
Dict1

{'A': 1}

In [6]:
Dict1["A"]=Dict1["A"]+5
Dict1

{'A': 6}

In [7]:
Dict1["A"]+=5
Dict1

{'A': 11}

In [8]:
Dict1["Orange"]="fruit"
Dict1

{'A': 11, 'Orange': 'fruit'}

In [9]:
Dict1["A"]=2
Dict1

{'A': 2, 'Orange': 'fruit'}

### **Find the character count in the word By using the Dictionary**

In [8]:
word="sliceeliss"
for i in word:
  print(f"word: {i} count: {word.count(i)}")

word: s count: 3
word: l count: 2
word: i count: 2
word: c count: 1
word: e count: 2
word: e count: 2
word: l count: 2
word: i count: 2
word: s count: 3
word: s count: 3

In [ ]:
Word="sliceeliss"
dict1={}
for i in Word:
    if i not in dict1:
        dict1[i]=1
    else:
        dict1[i]+=1

dict1

{'s': 3, 'l': 2, 'i': 2, 'c': 1, 'e': 2}

In [ ]:
Word="sliceeliss"
dict2={}
for i in Word:
    if i in dict2:
        dict2[i]+=1
    else:
        dict2[i]=1

dict2

{'s': 3, 'l': 2, 'i': 2, 'c': 1, 'e': 2}

In [ ]:
dict2.items()

dict_items([('s', 3), ('l', 2), ('i', 2), ('c', 1), ('e', 2)])

In [ ]:
for key,value in dict2.items():
    print(f"char: {key} is coming,{value} times")

char: s is coming,3 times
char: l is coming,2 times
char: i is coming,2 times
char: c is coming,1 times
char: e is coming,2 times

### **Find the character count in the sentence**

In [ ]:
Word="The quick brown fox jumps over the lazy dog"
dict2={}
for i in Word:
    if i in dict2:
        dict2[i]+=1
    else:
        dict2[i]=1

dict2

{'T': 1,
 'h': 2,
 'e': 3,
 ' ': 8,
 'q': 1,
 'u': 2,
 'i': 1,
 'c': 1,
 'k': 1,
 'b': 1,
 'r': 2,
 'o': 4,
 'w': 1,
 'n': 1,
 'f': 1,
 'x': 1,
 'j': 1,
 'm': 1,
 'p': 1,
 's': 1,
 'v': 1,
 't': 1,
 'l': 1,
 'a': 1,
 'z': 1,
 'y': 1,
 'd': 1,
 'g': 1}

## **Find the number whose has the maximum digit sum in a list**

In [3]:
list1=[235, 78, 901, 456, 1234]
dict1={}
for i in list1:
    sum=0
    num=i
    original_num=num
    while num>0:
        last_digit=num%10
        num//=10
        sum+=last_digit
    dict1[original_num]=sum
dict1

{235: 10, 78: 15, 901: 10, 456: 15, 1234: 10}

In [ ]:
for i in dict1.items():
    print(i)

(235, 10)
(78, 15)
(901, 10)
(456, 15)
(1234, 10)

In [4]:
max_value=max([i[1] for i in dict1.items()])
[i for i in dict1.items() if i[1]==max_value]

[(78, 15), (456, 15)]

In [5]:
max_value=max([i[1] for i in dict1.items()])
[i[0] for i in dict1.items() if i[1]==max_value]

[78, 456]

In [ ]:
max_value=max(dict1,key=dict1.get)
max_value

78

In [6]:
min_value=min(dict1,key=dict1.get)
min_value

235

### **use get function for fetching the value with the help of key**

In [ ]:
dict1.get(2355)

In [ ]:
dict1[235]

10

In [ ]:
max_value=max([i[1] for i in dict1.items()])
max_value

15

In [ ]:
235%10

5

In [ ]:
254//10

25

In [ ]:
# mutable items as keys
D4 = {'name':'Arjun', (1, 2, 3):2}
print(D4)

{'name': 'Arjun', (1, 2, 3): 2}

In [ ]:
D4.keys()

dict_keys(['name', (1, 2, 3)])

In [ ]:
D4[(1, 2, 3)]

2

In [ ]:
# using sequence and dict function
D5 = dict([('name', 'Arjun'), ('age', 28), (3, 3)])
D5

{'name': 'Arjun', 'age': 28, 3: 3}

### 2. Access

In [ ]:
# 1D dictionary
D = {"Name":"Saurabh", "Gender":"Male"}
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [ ]:
D[0]

KeyError: 0

In [ ]:
D["Name"]

'Saurabh'

In [ ]:
D.get("Name")

'Saurabh'

In [ ]:
D["Gender"]

'Male'

In [ ]:
D.get("Gender")
# .get() ---> 1-D dicts only; Not for 2-D/nested dicts.

'Male'

In [ ]:
D3

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 98}}

In [ ]:
D3["Marks"]

{'M1': 99, 'DS': 97, 'Eng': 98}

In [ ]:
D3["Marks"]["DS"]

97

In [ ]:
D3.get("Marks")

{'M1': 99, 'DS': 97, 'Eng': 98}

### 3. Edit

In [ ]:
D

{'Name': 'Saurabh', 'Gender': 'Male'}

In [ ]:
D["Name"] = "Kartik"
D

{'Name': 'Kartik', 'Gender': 'Male'}

In [ ]:
D3

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 97, 'Eng': 98}}

In [ ]:
D3["Marks"]["DS"] = 10
D3

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98}}

In [ ]:
d4={'Name': 'Arjun', 'College': 'SAI', 'Marks': [("M1", 99), ('DS', 97), ('Eng', 98)]}
d4

{'Name': 'Arjun',
 'College': 'SAI',
 'Marks': [('M1', 99), ('DS', 97), ('Eng', 98)]}

In [ ]:
d4["Marks"][1]

('DS', 97)

### 4. Add

In [ ]:
D

{'Name': 'Kartik', 'Gender': 'Male'}

In [ ]:
D["Age"] = 22
D

{'Name': 'Kartik', 'Gender': 'Male', 'Age': 22}

In [ ]:
D3

{'Name': 'Arjun', 'College': 'SAI', 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98}}

In [ ]:
D3["Marks"]["M2"] = 95
D3

{'Name': 'Arjun',
 'College': 'SAI',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

### 5. Delete

In [ ]:
D5 = {}
D5

{}

In [ ]:
del D5
D5

NameError: name 'D5' is not defined

In [ ]:
D

{'Name': 'Kartik', 'Gender': 'Male', 'Age': 22}

In [ ]:
D.pop('Name')

'Kartik'

In [ ]:
D

{'Gender': 'Male', 'Age': 22}

In [ ]:
D.popitem()

('Age', 22)

In [ ]:
D

{'Gender': 'Male'}

In [ ]:
del D["Gender"]
D

{}

In [ ]:
D.clear()
D

{}

### 6. Operations

In [ ]:
D3

{'Name': 'Arjun',
 'College': 'SAI',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [ ]:
D4

{'name': 'Arjun', (1, 2, 3): 2}

In [ ]:
D3 + D4

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
D3 * 3

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [ ]:
D3

{'Name': 'Arjun',
 'College': 'SAI',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [ ]:
# Iteration
for i in D3:
    print(i)

Name
College
Marks

In [ ]:
for i in D3:
    print(i, D3[i])

Name Arjun
College SAI
Marks {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}

In [ ]:
# Membership
"Saurabh" in  D3

False

In [ ]:
"Name" in  D3

True

### 7. Functions

In [ ]:
D3

{'Name': 'Arjun',
 'College': 'SAI',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [ ]:
len(D3)

3

In [ ]:
min(D3)

'College'

In [ ]:
max(D3)

'Name'

In [ ]:
sorted(D3)

['College', 'Marks', 'Name']

In [ ]:
D3

{'Name': 'Arjun',
 'College': 'SAI',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [ ]:
sorted(D3, reverse = True)

['Name', 'Marks', 'College']

In [ ]:
D3

{'Name': 'Arjun',
 'College': 'SAI',
 'Marks': {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}}

In [ ]:
D3.items()

dict_items([('Name', 'Arjun'), ('College', 'SAI'), ('Marks', {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95})])

In [ ]:
D3.keys()

dict_keys(['Name', 'College', 'Marks'])

In [ ]:
D3.values()

dict_values(['Arjun', 'SAI', {'M1': 99, 'DS': 10, 'Eng': 98, 'M2': 95}])

In [ ]:
# update
d1 = {1:2, 3:4, 4:5}
d2 = {4:7, 6:8}
print(d1, d1.keys())
print(d2, d2.values())
d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 5} dict_keys([1, 3, 4])
{4: 7, 6: 8} dict_values([7, 8])
{1: 2, 3: 4, 4: 7, 6: 8}

## Dictionary Comprehension

```python
{key : value for var in iterable}
```

Creates dicts from iterables.

**Example:**

`squares_dict = {x: x**2 for x in range(5)}`

Maps numbers to squares.

Supports conditions & expressions.

In [ ]:
D = {"Name":"Arjun", "Gender":"Male", "Age":28}
D

{'Name': 'Arjun', 'Gender': 'Male', 'Age': 28}

In [ ]:
D.items()

dict_items([('Name', 'Arjun'), ('Gender', 'Male'), ('Age', 28)])

In [ ]:
D1 = {key:value for key, value in D.items() if len(key)>3}
D1

{'Name': 'Arjun', 'Gender': 'Male'}

In [ ]:
L = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
D2 = {item : item**2 for item in L}
D2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [ ]:
D2 = {item : item**2 for item in L if item%2 == 0}
D2

{2: 4, 4: 16, 6: 36}

## **Print 1st 10 nums & squares**

In [ ]:
# Print 1st 10 nums & squares
{i:i**2 for i in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
distances = {'delhi':1000, 'mumbai':2000, 'bangalore':3000}
print(distances.items())

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [ ]:
# using existing dict
distances = {'delhi':1000, 'mumbai':2000, 'bangalore':3000}
{key:value*0.6 for (key, value) in distances.items()}

{'delhi': 600.0, 'mumbai': 1200.0, 'bangalore': 1800.0}

### **using zip**

In [ ]:
# using zip
days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
temp_C = [30.5, 32.6, 31.8, 33.4, 29.8, 30.2, 29.9]
{i:j for (i, j) in zip(days, temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [ ]:
# using if condition
products = {'phone':10, 'laptop':0, 'charger':32, 'tablet':0}
{key:value for (key, value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

## **Nested Comprehension**

In [ ]:
# Nested Comprehension
# Print multiplication tables for 2 to 4
{i:{i*j for j in range(1, 11)} for i in range(2, 5)}

{2: {2, 4, 6, 8, 10, 12, 14, 16, 18, 20},
 3: {3, 6, 9, 12, 15, 18, 21, 24, 27, 30},
 4: {4, 8, 12, 16, 20, 24, 28, 32, 36, 40}}

In [ ]:
# Nested Comprehension
# Print multiplication tables for 2 to 4
{i:{j:i*j for j in range(1, 11)} for i in range(2, 5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [ ]:
{
    2:{1:2, 2:4, 3:6, 4:8},
    3:{1:3, 2:6, 3:9, 4:12},
    4:{1:4, 2:8, 3:12, 4:16}
}

{2: {1: 2, 2: 4, 3: 6, 4: 8},
 3: {1: 3, 2: 6, 3: 9, 4: 12},
 4: {1: 4, 2: 8, 3: 12, 4: 16}}