<a href="https://colab.research.google.com/github/007arjungangwar/Programming-in-Python-Section1/blob/main/28_01_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- IDE
- Google colab
- jupyter notebook
- VsCode
- kaggle

**In the Last class we already discussed**
- print() function
- Data type
- How to take input fronm the user
- type conversion
- Operators in short

#**Today`s Session**
### **Operators in Python** & **Conditional statements**

# **Operators in Python**

- **Arithmetic**: `+`, `-`, `*`, `/`, `%`, `**`, `//`
- **Comparison**: `==`, `!=`, `>`, `<`, `>=`, `<=`
- **Logical**: `and`, `or`, `not`
- **Bitwise**: `&`, `|`, `^`, `~`, `<<`, `>>`
- **Assignment**: `=`, `+=`, `-=`, `*=`, `/=`, `%=`, `**=`, `//=`
- **Identity**: `is`, `is not`
- **Membership**: `in`, `not in`

- **Arithmetic**: `+`, `-`, `*`, `/`, `%`, `**`, `//`



```
Arithmetic Operators:
â€¢ + Addition
â€¢ - Subtraction
â€¢ * Multiplication
â€¢ / Division (float)
â€¢ % Modulus (remainder)
â€¢ ** Exponentiation
â€¢ // Floor Division (integer)
```

In [ ]:
a=10
b=3
print("difference", a-b)
print("Multiply", a*b)
print("Division", a/b)
print("Division", round(a/b,2))
print("remainder", a%b)
print("power", a**b)
print("integer division", a//b)

difference 7
Multiply 30
Division 3.3333333333333335
Division 3.33
remainder 1
power 1000
integer division 3

- **Comparison**: `==`, `!=`, `>`, `<`, `>=`, `<=`



```
Comparison Operators:
â€¢ > Greater than
â€¢ < Less than
â€¢ >= Greater than or equal to
â€¢ <= Less than or equal to
â€¢ == Equal to
â€¢ != Not equal to
```

In [1]:
x=8
y=3

print("this operator is use for equating the values: ",x==y)
print("this operator is use for checking the values are not equal: ",x!=y)
print("this operator is use for checking the value is less than or not: ",x<y)
print("this operator is use for checking the value is greater than or not: ",x>y)
print("this operator is use for checking the value is less than or equal to : ",x<=y)
print("this operator is use for checking the value is greater than or equal to : ",x>=y)

this operator is use for equating the values:  False
this operator is use for checking the values are not equal:  True
this operator is use for checking the value is less than or not:  False
this operator is use for checking the value is greater than or not:  True
this operator is use for checking the value is less than or equal to :  False
this operator is use for checking the value is greater than or equal to :  True

- **Logical**: `and`, `or`, `not`



```
Logical Operators:
â€¢ and - Returns True if both operands are True
â€¢ or - Returns True if at least one operand is True
â€¢ not - Returns the opposite boolean value
```

In [2]:
x = True
y = False
print ( " x and y : " , x and y ) # False
print ( " x or y : " , x or y ) # True
print ( " not x : " , not x ) # False
print ( " not y : " , not y ) # True

 x and y :  False
 x or y :  True
 not x :  False
 not y :  True

In [3]:
x = 1 # treating as true
y = 0 # treating as false

print ( " x and y : " , x and y ) # False
print ( " x or y : " , x or y ) # True
print ( " not x : " , not x ) # False
print ( " not y : " , not y ) # True

 x and y :  0
 x or y :  1
 not x :  False
 not y :  True



```
ðŸ”¹Falsy values: False, 0, 0.0, '', None, [], {}, ()
ðŸ”¹ Truthy values: ðŸ‘‰ Everything else
```

In [4]:
x = 12
y = 5

print ( " x and y : " , x and y ) # False
print ( " x or y : " , x or y ) # True
print ( " not x : " , not x ) # False
print ( " not y : " , not y ) # True

 x and y :  5
 x or y :  12
 not x :  False
 not y :  False



```
Rule of and
Step-by-step:
Python checks x â†’ 12 â†’ truthy
Since first operand is truthy â†’ return second operand

Rule of or
Step-by-step:
Python checks x â†’ 12 â†’ truthy
Since first operand is truthy â†’ return first operand

Rule of not
not A returns the Boolean opposite of truth value
```

In [10]:
x = 0
y = 5

print ( " x and y : " , x and y ) # False
print ( " x or y : " , x or y ) # True
print ( " not x : " , not x ) # False
print ( " not y : " , not y ) # True

 x and y :  0
 x or y :  5
 not x :  True
 not y :  False



```
In Python, and and or return operands, not True/False.
Only not always returns Boolean.
```

In [11]:
print(0 and 10)    # 0
print(0 or 10)     # 10
print("" or "Hi")  # Hi
print("Hi" and " ") # ""
print("Hi" and "bye") # bye

0
10
Hi

bye

In [9]:
# More practical examples
age = 25
has_license = True

# Lets put the Condition
# Can drive if age >= 18 AND has license

can_drive = ( age >= 18) and has_license
print ( " Can drive : " , can_drive ) # True

# Second
# Can vote if age >= 18
can_vote = age >= 18
print ( " Can vote : " , can_vote ) # True

 Can drive :  True
 Can vote :  True

- **Assignment**: `=`, `+=`, `-=`, `*=`, `/=`, `%=`, `**=`, `//=`



```
Assignment Operators:
â€¢ = Simple assignment
â€¢ += Add and assign
â€¢ -= Subtract and assign
â€¢ *= Multiply and assign
â€¢ /= Divide and assign
â€¢ %= Modulus and assign
```

In [ ]:
x=5
y=3

z=x
print(z)

5

In [ ]:
x=5
y=x+5
print(x,y)

5 10

In [ ]:
x=5
x=x+3
print(x)

8

In [ ]:
y=5
y+=3
y+=8
print(y)

16

In [13]:
x = 5
print ( " Initial x : " , x )

x += 3 # Same as x = x + 3
print ( " After x += 3: " , x ) # 8

x -= 2 # Same as x = x - 2
print ( " After x -= 2: " , x ) # 6

x *= 4 # Same as x = x * 4
print ( " After x *= 4: " , x ) # 24

x /= 2 # Same as x = x / 2
print ( " After x /= 2: " , x ) # 12.0

 Initial x :  5
 After x += 3:  8
 After x -= 2:  6
 After x *= 4:  24
 After x /= 2:  12.0

In [14]:
# More examples
a = 3
print ( a ) # 3

a += 3 # a = a + 3
print ( a ) # 6

a -= 3 # a = a - 3
print ( a ) # 3

a *= 3 # a = a * 3
print ( a ) # 9

a /= 3 # a = a / 3
print ( a ) # 3.0

3
6
3
9
3.0

In [15]:
# Note : Python doesn â€™t have ++ or -- operators
# Use a += 1 instead of a ++
a = 5
a += 1 # Equivalent to a ++ in other languages
print ( a ) # 6

6

In [16]:
x=5
x%=3 # Remainder
print(x)

2

- **Bitwise**: `&`, `|`, `^`, `~`, `<<`, `>>`



```
Bitwise Operators:
â€¢ & Bitwise AND
â€¢ | Bitwise OR
â€¢ ^ Bitwise XOR
â€¢ ~ Bitwise NOT (Oneâ€™s complement)
â€¢ << Left shift
â€¢ >> Right shift
```

In [18]:
a=bin(2)
b=bin(3)
print("binary value : ",a)
print("binary value : ",b)

binary value :  0b10
binary value :  0b11

In [20]:
x = 2 # Binary : 010
y = 3 # Binary : 011

print ( " x & y ( AND ) : " , x & y ) # 2 (010 & 011 = 010)
print ( " x | y ( OR ) : " , x | y ) # 3 (010 | 011 = 011)
print ( " x ^ y ( XOR ) : " , x ^ y ) # 1 (010 ^ 011 = 001)
print ( " ~ x ( NOT ) : " , ~ x ) # -3 ( Bitwise NOT )
print ( " x >> 2 ( Right Shift ) : " , x >> 2) # 0 (010 000)
print ( " y << 3 ( Left Shift ) : " , y << 3) # 24 (011 011000)

 x & y ( AND ) :  2
 x | y ( OR ) :  3
 x ^ y ( XOR ) :  1
 ~ x ( NOT ) :  -3
 x >> 2 ( Right Shift ) :  0
 y << 3 ( Left Shift ) :  24



```
Bitwise operators feel scary and weird at first because Python suddenly starts thinking in bits (0 and 1)
instead of normal numbers.
```


```
Why bitwise operators exist?
Used in:

Low-level programming
Robotics
Image processing
Cryptography
Flags & permissions
Fast math operations
```

**Decimal â†’ Binary**
| Decimal | Binary |             
| ------- | ------ |
| 0       | 0000   |
| 1       | 0001   |
| 2       | 0010   |
| 3       | 0011   |
| 4       | 0100   |
| 5       | 0101   |
| 10      | 1010   |

In [21]:
# Detailed binary operations
a = 10 # 1010 in binary
b = 4 # 0100 in binary

print (f" { a } & { b } = { a & b }") # 1010 & 0100 = 0000 (0)
print (f" { a } | { b } = { a | b }") # 1010 | 0100 = 1110 (14)
print (f" { a } ^ { b } = { a ^ b }") # 1010 ^ 0100 = 1110 (14)
print (f" ~{ a } = {~ a }") # ~1010 = ... ( two â€™s complement )
print (f" { a } << 2 = { a << 2}") # 1010 << 2 = 101000 (40)
print (f" { a } >> 1 = { a >> 1}") # 1010 >> 1 = 0101 (5)

 10 & 4 = 0
 10 | 4 = 14
 10 ^ 4 = 14
 ~10 = -11
 10 << 2 = 40
 10 >> 1 = 5


**AND (&) â€” â€œBoth must be 1â€**
```

1 & 1 â†’ 1
1 & 0 â†’ 0
0 & 1 â†’ 0
0 & 0 â†’ 0


x = 2  # 010
y = 3  # 011

  010
& 011
-----
  010  â†’ 2

```

**OR (|) â€” â€œAt least one must be 1â€**

```
1 | 1 â†’ 1
1 | 0 â†’ 1
0 | 1 â†’ 1
0 | 0 â†’ 0

  010
| 011
-----
  011 â†’ 3


```

**XOR (^) â€” â€œDifferent gives 1â€**

```
1 ^ 1 â†’ 0
0 ^ 0 â†’ 0
1 ^ 0 â†’ 1
0 ^ 1 â†’ 1

  010
^ 011
-----
  001 â†’ 1


```

**NOT (~) â€” The confusing one ðŸ˜µ**

```
What ~ does

Flips all bits (0 â†’ 1, 1 â†’ 0)
But Python uses twoâ€™s complement for negative numbers.

Key Formula
~x = -(x + 1)

x=2
~2 = -(2 + 1) = -3
print(~x)  # -3

~10 = -(10 + 1) = -11

```

**Right Shift (>>) â€” â€œDivide by 2â€**

```
Rule:
Shifting right by 1 â‰ˆ divide by 2

example
x = 2  # 010
x >> 2

010 â†’ shift right 2 â†’ 000

Another example
10 >> 1

1010 â†’ 0101 â†’ 5


```

**Left Shift (<<) â€” â€œMultiply by 2â€**

```
Rule:
Shifting left by 1 â‰ˆ multiply by 2

y = 3  # 011
y << 3

011 â†’ 011000 â†’ 24
Result = 3 Ã— 2Â³ = 24
```


**memory trick ðŸ§ **
```

| Operator | Meaning     | Easy Trick |      
| -------- | ----------- | ---------- |
| `&`      | AND         | Both 1     |       
| `|`      | OR          | Any 1      |       
| `^`      | XOR         | Different  |       
| `~`      | NOT         | `-(x+1)`   |       
| `<<`     | Left shift  | Ã— 2        |       
| `>>`     | Right shift | Ã· 2        |       

```

- **Identity**: `is`, `is not`



```
Identity Operators:
â€¢ is - Returns True if both variables point to the same object
â€¢ is not - Returns True if both variables point to different objects
```

In [48]:
# Identity operators check if two variables refer to the same object
# For immutable types ( integers , strings, tuple )
a = 3
b = 3
print ("id ( a ) : ", id ( a ))
print ("id ( b ) : ", id ( b ))
print ("a is b (int) : " , a is b ) # True ( same object )

a = "Arjun"
b = "Arjun"
print ("id ( a ) : ", id ( a ))
print ("id ( b ) : ", id ( b ))
print ("a is b (string) : " , a is b ) # True ( string interning )

id ( a ) :  11654440
id ( b ) :  11654440
a is b (int) :  True
id ( a ) :  138525849552432
id ( b ) :  138525849552432
a is b (string) :  True

In [49]:
# For mutable types ( lists , dictionaries )
a = [1 , 2 , 3]
b = [1 , 2 , 3]
print ("id ( a ) : ", id ( a ))
print ("id ( b ) : ", id ( b ))
print ("a is b ( list ) : " , a is b ) # False ( different objects )
print ("a == b ( list ) : " , a == b ) # True ( same content )

id ( a ) :  138525849407680
id ( b ) :  138525493894272
a is b ( list ) :  False
a == b ( list ) :  True

In [50]:
# Complex strings may not be interned
a = " Hello - World "
b = " Hello - World "
print ("id ( a ) : ", id ( a ))
print ("id ( b ) : ", id ( b ))
print ("a is b ( complex string ) : " , a is b ) # May be True or False
print ("a is not b : " , a is not b ) # Opposite of â€™ is â€™

id ( a ) :  138525493958704
id ( b ) :  138525493957360
a is b ( complex string ) :  False
a is not b :  True

In [51]:
# Check with id ()
print ("id ( a ) : ", id ( a ))
print ("id ( b ) : ", id ( b ))
print ("id ( a ) == id ( b ) : " , id ( a ) == id ( b ))

id ( a ) :  138525493958704
id ( b ) :  138525493957360
id ( a ) == id ( b ) :  False

- **Membership**: `in`, `not in`



```
Membership Operators:
â€¢ in - Returns True if value exists in the sequence
â€¢ not in - Returns True if value doesnâ€™t exist in the sequence
```

#### **Membership operators test if a value is in a sequence**

In [41]:
x="this is a book"
print("that" in x)

False

In [42]:
x="this is a book"
print("is" in x)

True

In [43]:
x="this is a book"
print("is" not in x)
print("that" not in x)

False
True

In [44]:
# Strings
x =" Delhi"
print ("D in x :" ," D" in x ) # True
print ("d in x :" ," d" in x ) # False ( case - sensitive )
print ("D not in x :" ," D" not in x ) # False
print ("M in x :" ," M" in x ) # False

D in x : True
d in x : False
D not in x : False
M in x : False

In [45]:
# Lists
x = [1 , 2 , 3]
print ("1 in x ( list ) :" , 1 in x ) # True
print ("5 in x ( list ) :" , 5 in x ) # False

1 in x ( list ) : True
5 in x ( list ) : False

In [46]:
# Tuples
x = (1 , 2 , 3)
print (" 1 in x ( tuple ) :" , 1 in x ) # True
print (" 5 in x ( tuple ) :" , 5 in x ) # False

 1 in x ( tuple ) : True
 5 in x ( tuple ) : False

In [47]:
# Dictionaries ( checks in keys only )
x = {" a" : 1 ," b" : 2 ," c" : 3}
print (" a in x ( dict ) :" ," a" in x ) # True
print (" 1 in x ( dict ) :" , 1 in x ) # False (1 is a value , not a key )

 a in x ( dict ) : True
 1 in x ( dict ) : False

In [ ]:
# Sets
x = {1 , 2 , 3 , 4 , 5}
print (" 3 in x ( set ) :" , 3 in x ) # True
print (" 6 in x ( set ) :" , 6 in x ) # False

## **Conditional statement**
- if
- if- else
- if-elif-else
- Nested if-else



```
Definition

Conditional statements allow a program to execute different blocks of code
based on logical conditions.

OR

Conditional statements are used to make decisions in a program based on conditions.
```

### **if Statement**



```
if (condition):
    print()
```



```
1ï¸âƒ£ if Statement
ðŸ”¹ Definition

The if statement is used to execute a block of code only when a condition is True.

ðŸ”¹ Syntax
if condition:
    statement(s)

ðŸ”¹ When to use

When only one condition needs to be checked
No alternative action required
```

In [ ]:
# age=int(input("Enter your Age : "))
age=5
if age>18:
    print("You are eligible for Vote")

In [36]:
age=int(input("Enter your Age : "))
# age=5
if age>18:
    print("You are eligible for Vote")

Enter your Age : 25
You are eligible for Vote



```
ðŸ”¹ Remember ðŸ§ 

Condition must return True or False
Indentation is mandatory
```

### **if-else Statement**



```
2ï¸âƒ£ if-else Statement
ðŸ”¹ Definition

The if-else statement executes:
if block when condition is True
else block when condition is False

ðŸ”¹ Syntax
if condition:
    statement(s)
else:
    statement(s)

ðŸ”¹ When to use
When two opposite outcomes are possible
```

In [37]:
age=int(input("Enter your Age : "))
#age=5
if age>18:
    print("You are eligible for Vote")
else:
    print("You are not eligible for Vote")

Enter your Age : 5
You are not eligible for Vote

In [52]:
num = 5

if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Odd number

In [53]:
num = int(input("Enter the Number : "))

if num % 2 == 0:
    print("Even number")
else:
    print("Odd number")

Enter the Number : 15
Odd number



```
ðŸ”¹ Remember ðŸ§ 

else has no condition
Either if or else will execute (not both)
```

### **if-elif-else Statement**



```
3ï¸âƒ£ if-elif-else Statement
ðŸ”¹ Definition
Used to check multiple conditions in sequence.

ðŸ”¹ Syntax
if condition1:
    statement(s)
elif condition2:
    statement(s)
elif condition3:
    statement(s)
else:
    statement(s)

ðŸ”¹ When to use

When more than two conditions are required
Conditions are mutually exclusive
```

In [39]:
age=int(input("Enter your Age : "))
#age=45
if age >20:
    print("You are Adult")
elif 12<=age<=19:
    print("Teenager")
else:
    print("You are a child")

Enter your Age : 44
You are Adult

In [54]:
marks = 75

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 60:
    print("Grade C")
else:
    print("Fail")

Grade B

In [57]:
marks = 79

if marks >= 90:
    print("Grade O")
elif marks >= 80:
    print("Grade A+")
elif marks >= 70:
    print("Grade A")
elif marks >= 60:
    print("Grade B+")
elif marks >= 50:
    print("Grade B")
elif marks >= 45:
    print("Grade C")
elif marks >= 40:
    print("Grade P")
else:
    print("Fail")

Grade A

In [56]:
marks = int(input("Enter your Marks : "))

if marks >= 90:
    print("Grade O")
elif marks >= 80:
    print("Grade A+")
elif marks >= 70:
    print("Grade A")
elif marks >= 60:
    print("Grade B+")
elif marks >= 50:
    print("Grade B")
elif marks >= 45:
    print("Grade C")
elif marks >= 40:
    print("Grade P")
else:
    print("Fail")

Enter your Marks : 44
Grade P



```
ðŸ”¹ Remember ðŸ§ 

Python checks conditions top to bottom
First True condition executes
else is optional
```



```
4ï¸âƒ£ Nested Conditional Statement
ðŸ”¹ Definition

When an if statement is written inside another if or else block.

ðŸ”¹ Syntax
if condition1:
    if condition2:
        statement(s)
    else:
        statement(s)
else:
    statement(s)

ðŸ”¹ When to use

When a condition depends on another condition
For hierarchical decision-making
```

In [58]:
age = 20
id_card = True

if age >= 18:
    if id_card:
        print("Entry allowed")
    else:
        print("ID card required")
else:
    print("Underage")

Entry allowed



```
Remember ðŸ§ 

Indentation is very important
Avoid deep nesting (use elif when possible)
```